.nav-current {
    color: grey;
    font-weight: bold;
}
.nav {
    display: inline-block;
    height: 1%;
    width: 100%;
}
a {
    text-decoration: none;
    color: aqua;
}
h3 {
    color: aqua;
}
