* {
    font-family: 'Fjalla One';
}

.nav-current {
    color: #6200ff;
    font-weight: bold;
}
.nav {
    display: inline-block;
    height: 1%;
    width: 100%;
}
a {
    text-decoration: none;
    color: #0091eb;
}
h3 {
    color: #6200ff;
}
h4 {
    color: #f07800
}
p {
    color: #004dfa
}