* {
    background-color: #000000;
    background-image: url(img/Homepage01.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Fjalla One';
}

.nav-current {
    color: #6200ff;
    font-weight: bold;
}
.nav {
    display: inline-block;
    height: 1%;
    width: 100%;
}
.link-colour {
    text-decoration: none;
    color: #0091eb;
}
h3 {
    color: #6200ff;
}
h4 {
    color: #f07800
}
p {
    color: #004dfa
}
li {
    color: #7b7b7b
}