* {
 font-family: Orbitron;
}
.center {
text-align: center;
}
 body {
  background-color: black;
} 
 h1 {
  color: aqua;
} 
#button {
 margin-right: auto;
 margin-left: auto;
 border-radius: 20px;
 height: 70px;
 width: 250px;
 border: 5px purple solid;
}
#enter {
 text-align: center;
 color: purple;
 margin-right: auto;
 margin-left: auto;
 text-decoration: none;
}
a {
 padding:30px 30px 30px 30px;
 font-size: 40px;
 text-decoration: none;
 text-align: center;
 margin-right: auto;
 margin-left: auto;
}
