* {
 font-family: Orbitron;
}
.center {
text-align: center;
}
 body {
  background-color: black;
} 
 h1 {
  color: aqua;
} 
#button {
 border-radius: 20px;
 height: 100px;
 width: 200px;
 border: 5px aqua;
}
