* {
    background-color: #1c1c1c;
    background-image: url(PosterCARSiteNoLogo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Orbitron;
}

.title {
    padding-top: -200px;
    font-size: 7em;
    text-align: center
} .center {
    text-align: center;
} body {
    background-color: black;
} h1 {
    color: aqua;
} #button {
    margin-top: 18%;
    background: black;
    color: aqua;
    margin-right: auto;
    margin-left: auto;
    border-radius: 20px;
    height: 160px;
    width: 370px;
    border: 5px purple solid;
    text-align: center;
    opacity: 0.6;
} #innerText { 
    background: black;
    font-size: 60px;
} .noDecor {
    text-decoration: none;
} #logos {
    padding-left: 36%;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
} .logo {
    padding-top: 50px;
    height: 15%;
    width: 15%;
}