*{font-family: 'Fjalla One';
}

.Font {
  color: #b40000;
  font-weight: bold;
  text-align: center;
}
      
.Font2 {
  color: #393939;
  font-weight: bolder;
  text-align: center;
}

.Font3 {
  font-weight: lighter;
  text-align: center;
}